package layouts

import (
	"github.com/templui/templui/components/sheet"
	"regius-app/views/components"
)

templ BaseLayout() {
	<!DOCTYPE html>
	<html lang="en" class="h-full dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="icon" href="/public/ico/favicon.ico"/>
			<title>Regius</title>
			<link href="/public/css/output.css" rel="stylesheet"/>
			@sheet.Script()
		</head>
		<body class="relative h-full min-h-screen bg-gradient-to-br from-primary to-secondary text-secondary">
			<div class="flex h-full flex-col">
				@components.Navbar()
				{ children... }
			</div>
		</body>
	</html>
}
