package views

import "${APP_NAME}/views/layouts"

templ $HANDLER_NAME() {
	@layouts.BaseLayout() {
	<div class="flex h-full items-center justify-center">
		<h1 class="text-3xl font-bold">$HANDLER_NAME</h1>
	</div>
}

}
