package layouts

import (
	"github.com/hbarral/regius/i18n"
	"github.com/templui/templui/components/sheet"
	"${APP_NAME}/views/components"
)

templ MainLayout() {
	<!DOCTYPE html>
	<html lang={ i18n.Locale(ctx) } class="h-full dark">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link rel="icon" href="/public/ico/favicon.ico"/>
			<title>{ i18n.T(ctx, "app.name") }</title>
			<link href="/public/css/output.css" rel="stylesheet"/>
			@sheet.Script()
		</head>
		<body class="h-full">
			<div class="flex h-full flex-col">
				@components.Navbar()
				{ children... }
			</div>
		</body>
	</html>
}
